<nav class="navbar">
    <div class="nav-container">
        <div class="nav-links">
            <a href="index.html" class="nav-link" data-page="index">Home</a>
            <a href="works.html" class="nav-link" data-page="works">Works</a>
            <a href="analysis.html" class="nav-link" data-page="analysis">Analysis</a>
            <a href="about.html" class="nav-link" data-page="about">About Rizal</a>
            <a href="gallery.html" class="nav-link" data-page="gallery">Gallery</a>
        </div>
    </div>
</nav>